*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #07252d;
    font-family: cursive;
}

.text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text ul{
    color: wheat;
    cursor: pointer;
}

.text ul li{
    font-size: 5rem;
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    text-shadow: 0 0 10px #03bcf4,
                 0 0 20px #03bcf4,
                 0 0 30px #03bcf4,
                 0 0 40px #03bcf4,
                 0 0 60px #03bcf4;
                 animation: ani 5s ease-in-out infinite;
}

#img1{
    position: absolute;
    top: 0%;
    width: 100%;
    background: linear-gradient(black, transparent);
    animation: ani 5s ease-in-out infinite;
}

#img2{
    position: absolute;
    /* top: 88vh; */
    bottom: 0%;
    width: 100%;
    background: linear-gradient(transparent, black);
    animation: ani 5s ease-in-out infinite;
}

@keyframes ani{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(2400deg);
    }
}

@media screen and (max-width: 992px) {
    .text ul li{
        font-size: 1.1rem;
    }
  }